<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/TelaRecuperacaoSenha.css">
    <meta charset="UTF-8">
    <title>Tela recuperação de senha</title>
</head>
<body>
    <!-- Criação da NavBar-->
    <div class="barra">
        <div class="logo-menor"><img id="logo-menor" src="../img/cjr.png"></div>
        <div class="barra-botoes">
            <a href="/cadastro" class="criar-conta">Criar Conta </a>
            <form action="/login">
            <button class="botao">Entrar</button>
            </form>
        </div>
    </div>

        <img style="top: 300px; left: 225px;" src="../img/bg.png" class="img_fundo">
        <div class="menu">
    <div class="info">
        <h1 style="
        width: 401px;
        left: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 40px;
        border-radius: 15px;
        color: #FFFFFF;
        
        opacity: 0.7;"> Senha nova </h1>
        <input class="input" placeholder="">
        <h1 style="
        width: 401px;
        left: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 40px;
        
        color: #FFFFFF;
        
        opacity: 0.7;"> Digite novamente sua senha </h1>
        <input class="input" placeholder="">
        </div>
        
            <h1 class="titulo-senha">  Bem vindo de volta, fulano! escolha sua nova senha </h1>
            <a href="/login" class="possui-conta">Possui conta? <span id="acesse-conta">Acesse aqui</span></a>
            <button class="botao-cadastrar">Cadastrar</button>
    </div>
    
</body>
</html>
